/* Estilos generales */

body {
    font-size: 100%;
    font-family: "PT Serif", serif;
    line-height: 1.5;
    color: #333;
}



:focus-visible {
    outline: 0.1875rem solid #007da0;
    outline-offset: 0.125rem;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h5,
h6,
a.button-cta {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin: 0 0 0.625rem 0;
}

h1 {
    font-size: 1.75rem;
    line-height: 1.3;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.5;
}

h3 {
    font-size: 1.125rem;
    line-height: 1.2;
    margin-bottom: 0.625rem;
}

h2 a {
    font-size: 1.5rem;
    line-height: 1.5;
}



.work-category {
    display: block;
    font-family: "PT Serif", serif;
    font-style: italic;
    margin: 0 0 0.625rem 0;
    font-size: 1rem;
    color: #555;
}

b {
    font-weight: bold;
}

a,
p {
    font-size: 1.125rem;
    line-height: 1.6;
    margin: 0 0 1.25rem 0;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #007da0;
}

a.button-cta {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 0.75rem 0;
    border-radius: 1.25rem;
    box-sizing: border-box;
    margin: 1.25rem auto 0;
    display: block;
    width: 18.75rem;
    transition: background-color .2s ease-out 50ms;
}

a.button-cta:hover {
    background: #007da0;
}

a>img {
    transition: transform .2s;
}

a>img:hover {
    transform: scale(1.05);
}

main .intro p {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 700;
}

section.statement p:last-of-type {
    margin-bottom: 3.125rem;
}

section.resume h3 {
    font-weight: normal;
    margin-top: 1.25rem;
}

section.resume p {
    margin: 0 0 0.9375rem;
    line-height: 22px;
    font-size: 1rem;
}

section.resume ul,
.wrap ul {
    margin-bottom: 1.25rem;
    margin-left: 1.25rem;
    list-style: disc outside;
}

section.resume ul>li,
.wrap ul>li {
    padding-left: 0.625rem;
    margin: 0 0 0.625rem 0.625rem;
    display: list-item;
}

section.resume ul>li {
    font-size: 1rem;
    line-height: 22px;
}

.wrap ul>li {
    font-size: 1.125rem;
    line-height: 32px;
}

section.resume h5 {
    font-family: "Pt serif", serif;
    width: fit-content;
    background: #C0E4E3;
    padding: 0.3125rem 0.9375rem;
    border-radius: 1.25rem;
    font-weight: normal;
    font-size: 0.875rem;
    margin-right: 0.625rem;
}

figcaption {
    text-align: center;
    font-style: italic;
    margin-bottom: 3.125rem;
}

/* Layout */

header {
    padding: 1.25rem 0.625rem;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #C0E4E3;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 1.25rem 0.625rem;
}

.content-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content-wrap ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-wrap ul>li {
    width: 5rem;
    text-align: center;
}

.content-wrap li:last-child {
    margin-left: 1.25rem;
}

.hero-wrap {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
}

.img-hero img {
    max-width: 70%;
}

main {
    padding: 7.8125rem 2.5rem 0;
}

main.about {
    padding: 3.75rem 2.5rem 1.25rem;
}

main .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

main .container figure {
    margin-bottom: 2.5rem;
}

main.about img {
    max-width: 100%;
}

section.statement .container {
    padding: 0 2.5rem 3.75rem;
}

.work {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 7.5rem;
}

.img-work {
    margin-bottom: 1.875rem;
}

.img-work img {
    max-width: 50%;
}

section.resume .container {
    padding: 0 2.5rem 3.75rem;
}

section.resume .skill {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 1.5625rem;
}

#hero-case {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #C0E4E3;
    box-sizing: border-box;
    padding: 1.25rem 0.625rem;
}

#hero-case .hero-wrap {
    padding: 3.125rem 0 1.875rem;
}

#hero-case .img-hero img {
    max-width: 80%;
    padding-left: 1.25rem;
}

.details {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.875rem;
}

.details h4 {
    text-transform: uppercase;
    font-style: normal;
}

.details h4::after {
    content: url(./assets/line-detail.svg);
    display: block;
}

.details p,
.details a {
    font-size: 0.75rem;
    line-height: 1.5;
    margin-bottom: 0.3125rem;
}

.challenge {
    text-align: center;
    padding: 0 2.5rem 6.25rem;
}

main#case {
    padding: 6.25rem 0;
}

.overview {
    margin: 0 auto;
    padding: 6.25rem 2.5rem;
}

.bg-pink {
    background: #EDC9D4;
}

.insights {
    margin: 3.125rem 0;

}

.wrap-flex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 1.5625rem 4.0625rem;
}

.wrap-flex-problem {
    display: flex;
    flex-direction: column;
    padding: 0.625rem 0.625rem 0;
    justify-content: center;
}

figure img {
    max-width: 100%;
    margin: 3.125rem auto 1.25rem;
    display: block;
}

.insight {
    width: 240px;
    padding: 1.25rem;
    background: #C0E4E3;
    border-radius: 10px;
    margin: 0 auto 1.25rem;
    height: fit-content;
}


.insight p {
    margin-bottom: 0;
    line-height: normal;
    font-size: 0.875rem;
}

.insights h3 {
    margin-bottom: 3.125rem;
    font-weight: normal;
}

.insights h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.125rem;
}

.problem {
    max-width: 100%;
    padding: 1.25rem;
    background: #C0E4E3;
    border-radius: 10px;
    margin: 0 auto 2.5rem;
    height: fit-content;
}

.hypothesis {
    max-width: 100%;
    padding: 1.25rem;
    background: #F2EFAA;
    border-radius: 10px;
    margin: 0 auto;
    height: fit-content;
}

.full-wrap {
    width: 100%;
    height: 18.75rem;
    position: relative;
    margin: 1.25rem 0 3.125rem;
}

main#case .full-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    background: #F2EFAA;
    height: 25rem;
    margin: 0;
    display: flex;
    align-items: center;
}

.contact {
    width: 90%;
    margin: 0 auto;
}

.contact h2 a {
    font-size: 1.5rem;
}

.links ul {
    display: flex;
    flex-direction: row;
}

.links li {
    margin: 0 1.25rem 0 0;
}

.links li:last-child {
    margin: 0;
}

.btn {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

/* Responsive */

@media (min-width: 768px) {
    h1 {
        font-size: 2.25rem;
        line-height: 1.2;
    }

    h2 {
        font-size: 1.875rem;
        line-height: 1.3;
    }

    .work {
        flex-direction: row;
        text-align: left;
        align-items: center;
        justify-content: space-between;
        gap: 1.25rem;
    }

    .img-work,
    .card {
        width: 48%;
    }

    .img-work img {
        max-width: 100%;
    }

    .details {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media (min-width: 992px) {

    /* Generales */

    h1 {
        font-size: 3rem;
        line-height: 1.2;
    }

    h2 {
        font-size: 2.25rem;
        line-height: 1.3;
    }

    h2 a {
        font-size: 2.25rem;
        line-height: 1.3;
    }

    a.button-cta {
        margin: 1.25rem 0 0;
    }

    main .intro p {
        font-size: 3rem;
        line-height: 1.2;
    }

    /* Layout */

    header,
    #hero,
    #hero-case {
        padding: 2.5rem 3.125rem;
    }

    .hero-wrap {
        flex-direction: row;
        align-items: center;
        text-align: left;
        justify-content: space-around;
        flex-grow: 1;
        flex-shrink: 0;
    }

    #hero-case .hero-wrap {
        flex-direction: row;
        align-items: center;
        text-align: left;
        justify-content: space-around;
        margin: 0 auto;
        padding: 1.875rem 6.25rem 0;
    }

    .text-hero {
        width: 50%;
    }

    .img-hero img {
        max-width: 100%;
    }

    #hero-case .img-hero img {
        max-width: 600px;
    }

    .work {
        flex-direction: row;
        text-align: left;
        align-items: center;
        margin-bottom: 12.5rem;
        justify-content: space-evenly;
        width: 90%;
        margin: 0 auto 6.25rem;
    }

    .img-work {
        width: 50%;
    }

    .card {
        width: 50%;
    }

    .img-work img {
        max-width: 90%;
    }

    .contact h2 a {
        font-size: 2.625rem;
    }

    main .container {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    main .intro {
        width: 40%;
    }

    main .container figure {
        margin: 0;
    }

    section.statement .container {
        width: 41.25rem;
        padding: 3.75rem 0 3.75rem;
        margin: 0 auto;
    }

    section.resume .container {
        margin: 0 auto;
        max-width: 59.375rem;
        width: 100%;
        display: grid;
        grid-template-columns: 50% 30%;
        gap: 3.125rem 6.25rem;
        padding: 0 0 9.375rem;
    }

    section.resume .container h3 {
        font-size: 1.5rem;
        line-height: 1.3;
    }

    section.resume .container .education {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .details {
        max-width: 56.25rem;
        width: 100%;
        margin: 0 auto;
    }

    .challenge {
        max-width: 55rem;
        width: 100%;
        margin: 0 auto;
    }

    main#case .wrap {
        max-width: 37.5rem;
        width: 100%;
        margin: 0 auto;
    }

    main#case .full-wrap {
        max-width: 62.5rem;
        width: 100%;
        margin: 0 auto 2.5rem;
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    }

    .wrap-flex {
        justify-content: flex-start;
    }

    .wrap-flex-problem {
        flex-direction: row;
        justify-content: space-around;
    }

    .problem {
        width: 40%;
    }

    .hypothesis {
        width: 40%;
    }

    .insights {
        max-width: 62.5rem;
        width: 100%;
        margin: 3.125rem auto;
    }

    .insight {
        margin-left: 1.25rem;
    }

    .btn {
        flex-direction: row;
        gap: 1.25rem;
        align-items: flex-start;
    }
}

@media (min-width: 1300px) {
    .details {
        max-width: 75rem;
        width: 100%;
    }

    section.overview figure {
        max-width: 75rem;
        width: 100%;
        margin: 0 auto;
    }
}


@media (min-width: 1600px) {
    main .container {
        max-width: 87.5rem;
        width: 100%;
        margin: 0 auto;
    }

    .content-wrap {
        max-width: 87.5rem;
        width: 100%;
        margin: 0 auto;
    }

    .hero-wrap {
        max-width: 81.25rem;
        width: 100%;
        margin: 0 auto;
    }

    .contact {
        max-width: 81.25rem;
        width: 100%;
    }

    main .intro {
        width: 60%;
    }

    section.statement .container {
        max-width: 62.5rem;
        width: 100%;
    }

    section.resume .container {
        max-width: 81.25rem;
        width: 100%;
    }

}