/* Estilos generales */

body {
    font-size: 16px;
    font-family: "PT Serif", serif;
    line-height: 1.5;
    color: #333;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000;
    color: white;
    padding: 8px;
    z-index: 100;
    transition: top 0.1s;
}

.skip-link:focus {
    top: 0;
}

:focus-visible {
    outline: 3px solid #007da0;
    outline-offset: 2px;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h5, h6, a.button-cta {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin: 0 0 10px 0;
}

h1 {
    font-size: 28px;
    line-height: 36px;
}

h2 {
    font-size: 24px;
    line-height: 36px;
}

h3 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
}

h2 a {
    font-size: 24px;
    line-height: 36px;
}

    font-size: 16px;
}

.work-category {
    display: block;
    font-family: "PT Serif", serif;
    font-style: italic;
    margin: 0 0 10px 0;
    font-size: 16px;
    color: #555;
}

b {
    font-weight: bold;
}

a, p {
    font-size: 18px;
    line-height: 36px;
    margin: 0 0 20px 0;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color:#007da0;
}

a.button-cta {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 20px auto 0;
    display: block;
    width: 300px;
    transition: background-color .2s ease-out 50ms;
}

a.button-cta:hover {
    background:#007da0;
}

a > img {
    transition: transform .2s;
}

a > img:hover {
    transform: scale(1.05);
}

main .intro p {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
}

section.statement p:last-of-type {
    margin-bottom: 50px;
}

section.resume h3 {
    font-weight: normal;
    margin-top: 20px;
}

section.resume p {
    margin: 0 0 15px;
    line-height: 22px;
    font-size: 16px;
}

section.resume ul, .wrap ul {
    margin-bottom: 20px;
    margin-left: 20px;
    list-style: disc outside;
}

section.resume ul > li, .wrap ul > li {
    padding-left: 10px;
    margin: 0 0 10px 10px;
    display: list-item;
}

section.resume ul > li {
    font-size: 16px;
    line-height: 22px;
}

.wrap ul > li {
    font-size: 18px;
    line-height: 32px;
}

section.resume h5 {
    font-family: "Pt serif", serif;
    width: fit-content;
    background: #C0E4E3;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: normal;
    font-size: 14px;
    margin-right: 10px;
}

figcaption {
    text-align: center;
    font-style: italic;
    margin-bottom: 50px;
}

/* Layout */

header {
    padding: 20px 10px;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #C0E4E3;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 20px 10px;
}

.content-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content-wrap ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-wrap ul > li {
    width: 80px;
    text-align: center;
}

.content-wrap li:last-child {
    margin-left: 20px;
}

.hero-wrap {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
}

.img-hero img {
    max-width: 70%;
}

main {
    padding: 125px 40px 0;
}

main.about {
    padding: 60px 40px 20px;
}

main .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

main .container figure {
    margin-bottom: 40px;
}

main.about img {
    max-width: 100%;
}

section.statement .container {
    padding: 0 40px 60px;
}

.work {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 120px;
}

.img-work {
    margin-bottom: 30px;
}

.img-work img {
    max-width: 50%;
}

section.resume .container {
    padding: 0 40px 60px;
}

section.resume .skill {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 25px;
}

#hero-case {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #C0E4E3;
    box-sizing: border-box;
    padding: 20px 10px;
}

#hero-case .hero-wrap {
    padding: 50px 0 30px;
}

#hero-case .img-hero img {
    max-width: 80%;
    padding-left: 20px;
}

.details {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
}

.details h4 {
    text-transform: uppercase;
    font-style: normal;
}

.details h4::after {
    content: url(./assets/line-detail.svg);
    display: block;
}

.details p, .details a {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 5px;
}

.challenge {
    text-align: center;
    padding: 0 40px 100px;
}

main#case {
    padding: 100px 0;
}

.overview {
    margin: 0 auto;
    padding: 100px 40px;
}

.bg-pink {
    background: #EDC9D4;
}

.insights {
    margin: 50px 0;

}

.wrap-flex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 25px 65px;
}

.wrap-flex-problem {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0;
    justify-content: center;
}

figure img {
    max-width: 100%;
    margin: 50px auto 20px;
    display: block;
}

.insight {
    width: 240px;
    padding: 20px;
    background: #C0E4E3;
    border-radius: 10px;
    margin: 0 auto 20px;
    height: fit-content;
}


.insight p {
    margin-bottom: 0;
    line-height: normal;
    font-size: 14px;
}

.insights h3 {
    margin-bottom: 50px;
    font-weight: normal;
}

.insights h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

.problem {
    max-width: 100%;
    padding: 20px;
    background: #C0E4E3;
    border-radius: 10px;
    margin: 0 auto 40px;
    height: fit-content;
}

.hypothesis {
    max-width: 100%;
    padding: 20px;
    background: #F2EFAA;
    border-radius: 10px;
    margin: 0 auto;
    height: fit-content;
}

.full-wrap {
    width: 100%;
    height: 300px;
    position: relative;
    margin: 20px 0 50px;
}

main#case .full-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    background: #F2EFAA;
    height: 400px;
    margin: 0;
    display: flex;
    align-items: center;
}

.contact {
    width: 90%;
    margin: 0 auto;
}

.contact h2 a {
    font-size: 24px;
}

.links ul {
    display: flex;
    flex-direction: row;
}

.links li {
    margin: 0 20px 0 0;
}

.links li:last-child {
    margin: 0;
}

.btn {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

/* Responsive */

@media (min-width: 992px) {

    /* Generales */

    h1 {
        font-size: 48px;
        line-height: 1.2;
    }

    h2 {
        font-size: 36px;
        line-height: 1.3;
    }

    h2 a {
        font-size: 36px;
        line-height: 1.3;
    }

    a.button-cta {
        margin: 20px 0 0;
    }

    main .intro p {
        font-size: 48px;
        line-height: 54px;
    }

    /* Layout */

    header, #hero, #hero-case {
        padding: 40px 50px;
    }

    .hero-wrap {
        flex-direction: row;
        align-items: center;
        text-align: left;
        justify-content: space-around;
        flex-grow: 1;
        flex-shrink: 0;
    }

    #hero-case .hero-wrap {
        flex-direction: row;
        align-items: center;
        text-align: left;
        justify-content: space-around;
        margin: 0 auto;
        padding: 30px 100px 0;
    }

    .text-hero {
        width: 50%;
    }

    .img-hero img {
        max-width: 100%;
    }

    #hero-case .img-hero img {
        max-width: 600px;
    }

    .work {
        flex-direction: row;
        text-align: left;
        align-items: center;
        margin-bottom: 200px;
        justify-content: space-evenly;
        width: 90%;
        margin: 0 auto 100px;
    }

    .img-work {
        width: 50%;
    }

    .card {
        width: 50%;
    }

    .img-work img {
        max-width: 90%;
    }

    .contact h2 a {
        font-size: 42px;
    }

    main .container {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    main .intro {
        width: 40%;
    }

    main .container figure {
        margin: 0;
    }

    section.statement .container {
        width: 660px;
        padding: 60px 0 60px;
        margin: 0 auto;
    }

    section.resume .container {
        margin: 0 auto;
        width: 950px;
        display: grid;
        grid-template-columns: 50% 30%;
        gap: 50px 100px;
        padding: 0 0 150px;
    }

    section.resume .container h3 {
        font-size: 24px;
        line-height: 32px;
    }

    section.resume .container .education {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .details {
        width: 900px;
        margin: 0 auto;
    }

    .challenge {
        width: 880px;
        margin: 0 auto;
    }

    main#case .wrap {
        width: 600px;
        margin: 0 auto;
    }

    main#case .full-wrap {
        width: 1000px;
        margin: 0 auto 40px;
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    }

    .wrap-flex {
        justify-content: flex-start;
    }

    .wrap-flex-problem {
        flex-direction: row;
        justify-content: space-around;
    }

    .problem {
        width: 40%;
    }

    .hypothesis {
        width: 40%;
    }

    .insights {
        width: 1000px;
        margin: 50px auto;
    }

    .insight {
        margin-left: 20px;
    }

    .btn {
        flex-direction: row;
        gap: 20px;
        align-items: flex-start;
    }
}

@media (min-width: 1300px) {
    .details {
        width: 1200px;
    }
    section.overview figure {
        width: 1200px;
        margin: 0 auto;
    }
}


@media (min-width: 1600px) {
    main .container {
        width: 1400px;
        margin: 0 auto;
    }

    .content-wrap {
        width: 1400px;
        margin: 0 auto;
    }

    .hero-wrap {
        width: 1300px;
        margin: 0 auto;
    }

    .contact {
        width: 1300px;
    }

    main .intro {
        width: 60%;
    }

    section.statement .container {
        width: 1000px;
    }

    section.resume .container {
        width: 1300px;
    }

}